<form #addUserForm="ngForm" >
<div id="center" *ngIf="resetPage == 1">
  <div id="height">
<div class="form-group">
  <label for="firstName">Enter your username</label>
  <input type="text" class="form-control" id="firstName" placeholder="Username"
         required
         [(ngModel)]="username" name="firstName" #firstName="ngModel">

    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
      <button type="button" class="btn btn-dark" (click)="onContinue()">continue</button>
    </div>

</div>
    <div *ngIf="usernameExist == 1" class="alert alert-danger"  style="width: 250px;">
      Username does not exist
    </div>
  </div>
</div>
<div id="center2" *ngIf="resetPage == 2">
  <div id="height2">
    <label >{{response.question}}</label>
    <div>
      <input type="text" class="form-control" placeholder="answer"
             required
             [(ngModel)]="answer" name="firstName" #firstName="ngModel">
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-dark" (click)="goBack2()">Back</button>
      <button type="button" class="btn btn-dark" (click)="sendEmail()">continue</button>
    </div>
    <p>

    </p>
    <div *ngIf="answerCorrect == 1" class="alert alert-danger"  style="width: 250px;">
      Incorrect answer
    </div>
  </div>
</div>
  <div id="center3" *ngIf="resetPage == 3">
    <div id="height3">
      <label>An email has been sent to {{emailResult}}!</label>
      <button type="button" class="btn btn-dark" (click)="goBack()">continue</button>
    </div>
  </div>

</form>
