h3, label, p {
  color: white;
}

#center {
  position: relative;
  width: 14%;
  margin: 0 auto;
}

#center2 {
  position: relative;
  width: 14%;
  margin: 0 auto;
}

#center3 {
  position: relative;
  width: 14%;
  margin: 0 auto;
}

#height {
  margin-top:30px;
  width: 250px
}

#height2 {
  margin-top:30px;
  width: 250px
}

#height3 {
  margin-top:30px;
  width: 250px
}
