td, th {
  text-align: left;
  padding: 8px;
}
#ledgerTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

table, h3, h2, td {
  color: black;
}

#center {
  position: relative;
  width: 10%;
  margin: 0 auto;
}
