h3, p {
    color: black;
}
td, th {
  border: 1px solid #6e7d93;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #e0e3e6;
}


table, h3, h2, td {
  color: black;
}

#center {
  position: relative;
  width: 14%;
  margin: 0 auto;
}

#height {
  margin-top:30px;
  width: 250px
}

.add_user {
  display: none;
}

#userTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
}

.rightContent{
  width: 400px;
  z-index: 0;
  overflow-x: hidden;
  float: left;
}

.leftContent{
  width: 400px;
  margin-top:86px;
  margin-left: 450px;
}

.warning{
  color: red;
}

.modal2{
  position: fixed;
  z-index: 1;
  top: -100%;
  opacity: 0;
  transition: top 0.4s, opacity 0.4s;
}
.modal-content3{
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s

}
.modal2.show {
  z-index: 0;
  top: 0;
  opacity: 1;
}
