
<!-- Create user form-->
<div id="new_user" class="modal">
<div class="modal-content">

    <form #addUserForm="ngForm" >
      <div class="rightContent">
      <div class="form-group">
        <label for="userName">User Name</label>
        <input type="text" class="form-control" id="userName" (ngModelChange)="compareUserName($event)" placeholder="User Name" required [(ngModel)]="user.userName"
               name="userName" >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" (ngModelChange)="checkPassword($event)" placeholder="Password" required [(ngModel)]="user.userPassword"
               name="password" >
        <label for="password" class="warning">Password must be at least 8 characters long</label>
        <label for="password" class="warning">Includes at least one of the following: #,$,%,&,*,+ </label>
        <label for="password" class="warning">Includes at least one number</label>
      </div>

      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="First Name" required [(ngModel)]="user.firstName"
               name="firstName" >
      </div>


      <div class="form-group">
        <label for="email">email</label>
        <input type="text" class="form-control" id="email" (ngModelChange)="compareEmail($event)" placeholder="email" required [(ngModel)]="user.email"
               name="email" >
      </div>

        <div class="form-group">

          <label for="userRole">Role: </label>
          <select class="form-control" required [(ngModel)]="user.userRole" id="userRole" name="roleType" >
            <option>accountant</option>
            <option>manager</option>
            <option>admin</option>
          </select>
        </div>

        <div class="form-group">
          <label for="securityQ">Security Question: </label>
          <select class="form-control" required [(ngModel)]="user.securityQ" id="securityQ" name="SecurityQ" >
            <option>What is your favorite color?</option>
            <option>Where did you go to high school?</option>
            <option>What is your favorite movie?</option>
          </select>
        </div>

        <div *ngIf="usernameExist == 2" class="alert alert-danger"  style="width: 250px;">
          Username already exists
        </div>

        <div *ngIf="emailExist == 2" class="alert alert-danger"  style="width: 250px;">
          Email already exists
        </div>

        <div *ngIf="passwordError == 1" class="alert alert-danger"  style="width: 250px;">
          Password is not acceptable
        </div>

        <button (click)="submit();" id="submitBtn" [disabled]="!addUserForm.form.valid" class="btn btn-primary ">Submit</button>
        <input class="btn btn-info " style="position: relative; left: 5px" type="reset">
        <button (click)="close(); addUserForm.reset()" id="closeModalBtn" class="btn btn-danger " style="position: relative; left: 10px">Cancel</button>
      </div>

      <div class="leftContent">
        <div class="form-group">
          <label for="passwordAgain">Re-enter Password</label>
          <input type="text" class="form-control" id="passwordAgain" placeholder="Password" required [(ngModel)]="user.userPassword"
                 name="password2" >
        </div>
        <div class="form-group" style="margin-top:112px;">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" placeholder="Last Name" required [(ngModel)]="user.lastName"
                 name="lastName">
        </div>

        <div class="form-group" style="margin-top:188px;">
          <label for="answer">Answer</label>
          <input type="text" class="form-control" id="answer" placeholder="Answer" required [(ngModel)]="user.securityA"
                 name="password3" >
        </div>

      </div>
    </form>


    </div>
</div>

<!-- Update User form-->
<div id="updateUserModal" class="modal">
   <div class="modal-content">
     <form #editUserForm="ngForm">
       <div class="rightContent">

       <div class="form-group">
         <label for="userNam2">User Name</label>
         <input type="text" class="form-control" id="userNam2"  placeholder="username" (ngModelChange)="compareUserNameUpdate($event);" required [(ngModel)]="user2.userName"
                value="{{user2.userName}}"  name="userName2" >
       </div>
       <div class="form-group">
         <label for="password2">Password</label>
         <input type="text" class="form-control" id="password2"  placeholder="Password" (ngModelChange)="checkPasswordUpdate($event)" required [(ngModel)]="user2.userPassword"
                value="{{user2.userPassword}}"  name="password" >
         <label for="password" class="warning">Password must be at least 8 characters long</label>
         <label for="password" class="warning">Includes at least one of the following: #,$,%,&,*,+ </label>
         <label for="password" class="warning">Includes at least one number</label>
       </div>
         <div class="form-group">
           <label for="firstName2">First Name</label>
           <input type="text" class="form-control" id="firstName2" placeholder="First Name" required [(ngModel)]="user2.firstName"
                  value="{{user2.firstName}}" name="firstName" >
         </div>

         <div class="form-group">
           <label for="email2">email</label>
           <input type="text" class="form-control" id="email2" (ngModelChange)="compareEmailUpdate($event)" placeholder="email" required [(ngModel)]="user2.email"
                  value="{{user2.email}}"name="email" >
         </div>

         <div class="form-group">
           <label for="userRole2">Role: </label>
           <select class="form-control" required [(ngModel)]="user2.userRole" id="userRole2" value="{{user2.userRole}}" name="roleType" >
             <option>accountant</option>
             <option>manager</option>
             <option>admin</option>
           </select>
         </div>

         <div class="form-group">
           <label for="securityQ2">Security Question: </label>
           <select class="form-control" required [(ngModel)]="user2.securityQ" id="securityQ2" value="{{user2.securityQ}}" name="SecurityQ" >
             <option>What is your favorite color?</option>
             <option>Where did you go to high school?</option>
             <option>What is your favorite movie?</option>
           </select>
         </div>

         <div class="form-group">
           <label for="securityQ2">Active:</label>
           <select class="activel" required [(ngModel)]="userActive2" id="active1" value="{{userActive}}" name="active" >
             <option>active</option>
             <option>inactive</option>
           </select>
         </div>

         <div *ngIf="usernameExist == 2" class="alert alert-danger"  style="width: 250px;">
           Username already exists
         </div>

         <div *ngIf="emailExist == 2" class="alert alert-danger"  style="width: 250px;">
           Email already exists
         </div>

         <div *ngIf="passwordError == 1" class="alert alert-danger"  style="width: 250px;">
           Password is not acceptable
         </div>
         <button (click)="submitEdit();" id="submitBtn5" [disabled]="!editUserForm.form.valid" class="btn btn-primary ">Submit</button>
         <button (click)="resetUpdate()" id="closeModalBtn3"  class="btn btn-info " style="position: relative; left: 5px">Reset</button>
       <button (click)="close2();" id="closeModalBtn2"  class="btn btn-danger " style="position: relative; left: 10px">Cancel</button>
       </div>

       <div class="leftContent">
         <div class="form-group">
           <label for="passwordAgain2">Re-enter Password</label>
           <input type="text" class="form-control" id="passwordAgain2" placeholder="Password" required [(ngModel)]="user2.userPassword"
                  value="{{user2.userPassword}}" name="password2" >
         </div>
         <div class="form-group" style="margin-top:112px;">
           <label for="lastName2">Last Name</label>
           <input type="text" class="form-control" id="lastName2" placeholder="Last Name" required [(ngModel)]="user2.lastName"
                  value="{{user2.lastName}}" name="lastName">
         </div>
         <div class="form-group" style="margin-top:188px;">
           <label for="answer2">Answer</label>
           <input type="text" class="form-control" id="answer2" placeholder="Answer" required [(ngModel)]="user2.securityA"
                  value="{{user2.securityA}}" name="password3" >
         </div>
       </div>
     </form>
   </div>
</div>
<!--Display User details-->
<div id="viewUserData" class="modal">
  <div class="modal-content2">
    <form #viewUserData="ngForm">
        <table id="display">
          <tr style=" background-color: white">
            <th style="color: black; border: none">User Name:</th>
            <th style="color: black; border: none">{{userDisplay.userName}}</th>
          </tr>
          <tr style=" background-color: white">
            <th style="color: black; border: none">Password:</th>
            <th style="color: black; border: none">{{userDisplay.userPassword}}</th>
          </tr>
          <tr style=" background-color: white">
            <th style="color: black; border: none">First name:</th>
            <th style="color: black; border: none">{{userDisplay.firstName}}</th>
          </tr>
          <tr style=" background-color: white">
            <th style="color: black; border: none">Last name:</th>
            <th style="color: black; border: none">{{userDisplay.lastName}}</th>
          </tr>
          <tr style=" background-color: white">
            <th style="color: black; border: none">email:</th>
            <th style="color: black; border: none">{{userDisplay.email}}</th>
          </tr>
          <tr style=" background-color: white">
            <th style="color: black; border: none">Role:</th>
            <th style="color: black; border: none">{{userDisplay.userRole}}</th>
          </tr>
          <tr style=" background-color: white">
            <th style="color: black; border: none">Security Question:</th>
            <th style="color: black; border: none">{{userDisplay.securityQ}}</th>
          </tr>
          <tr style=" background-color: white">
            <th style="color: black; border: none">Security answer:</th>
            <th style="color: black; border: none">{{userDisplay.securityA}}</th>
          </tr>
          <tr style=" background-color: white">
            <th style="color: black; border: none">Password expiration:</th>
            <th style="color: black; border: none">{{userDisplay.passwordExpire | date: 'MM/dd/yyyy  HH:mm:ss'}}</th>
          </tr>
          <tr style=" background-color: white">
            <th style="color: black; border: none">Updated last:</th>
            <th style="color: black; border: none">{{userDisplay.updatedAt | date: 'MM/dd/yyyy  HH:mm:ss'}}</th>
          </tr>
          <tr style=" background-color: white">
            <th style="color: black; border: none">Created At:</th>
            <th style="color: black; border: none">{{userDisplay.createdAt | date: 'MM/dd/yyyy  HH:mm:ss'}}</th>
          </tr>


        </table>
        <button (click)="close3(); " id="closeModalBtn4">Close</button>
    </form>
  </div>
</div>

<!-- Display User list form-->

<div id="popupModalConfirm" class="modal2" >
  <div class="modal-content3">
    <div class="alert alert-success">
      {{confirmationType}}
    </div>
  </div>
</div>
<form class="form-inline" style="left: 8px">
  <div style="position:  relative;left: 75%;  padding-top: 20px">
<div class="form-group">
  <input type="text" class="form-control" id="searchBar"  style="width: 300px; left: 6px" placeholder="Search" (ngModelChange)="viewUsersSort(column,'ASC', columnSearch, $event)" required [(ngModel)]="criteria"
           name="search" >
  </div>
  </div>
</form>

<button class="btn btn-info btn-lg" (click)="createUser()" *ngIf="access == 0">Create User</button>
<div class="form-group">

  <table id="userTable">
    <tr>
      <th (click)="viewUsersSort('userName','ASC',columnSearch,criteria); column='userName' ">User Name</th>
      <th (click)="viewUsersSort('firstName','ASC',columnSearch,criteria); column='firstName'">First Name</th>
      <th (click)="viewUsersSort('lastName','ASC',columnSearch,criteria); column='lastName'">Last Name</th>
      <th (click)="viewUsersSort('userPassword','ASC',columnSearch,criteria); column='userPassword' ">Password</th>
      <th (click)="viewUsersSort('email','ASC',columnSearch,criteria); column='email'">Email</th>
      <th (click)="viewUsersSort('userRole','ASC',columnSearch,criteria); column='userRole' ">User Role</th>
      <th (click)="viewUsersSort('updatedAt','ASC',columnSearch,criteria); column='updatedAt'">Updated at</th>
      <th (click)="viewUsersSort('createdAt','ASC',columnSearch,criteria); column='createdAt'">Created at</th>
      <th (click)="viewUsersSort('active','ASC',columnSearch,criteria); column='active'">Active</th>
    </tr>
    <tr *ngFor="let user of users | paginate: { itemsPerPage: perPage, currentPage: currPage }  ">
      <td *ngIf="user.userName != '[pending]'">{{ user.userName}}</td>
      <td *ngIf="user.userName == '[pending]'" style="color: red">{{ user.userName}}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td *ngIf="user.userPassword != '[pending]'">{{ user.userPassword}}</td>
      <td *ngIf="user.userPassword == '[pending]'" style="color: red">{{ user.userPassword}}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.userRole }}</td>
      <td>{{ user.updatedAt | date: 'MM/dd/yyyy  HH:mm:ss'}}</td>
      <td>{{ user.createdAt | date: 'MM/dd/yyyy  HH:mm:ss'}}</td>
      <td *ngIf="user.active == 0">inactive</td>
      <td *ngIf="user.active == 1">active</td>
      <button class="btn btn-primary" (click)="getUserInfo(user.userId)"  *ngIf="access == 0">Edit</button>
      <button class="btn btn-primary" (click)="viewData(user.userId)">More</button>
    </tr>
  </table>
  <div style="display: inline-block">
    <div style="float: left; width: 100px; position: relative; left: 5px; top: 3px">
      <p >{{"Per Page:"}}</p>
    </div>
    <select id="perPage" class="form-control" style="position:relative; float: left; width: 75px; right: 20px"
            [(ngModel)]="perPage"
            name="account">
      <option>5</option>
      <option selected>10</option>
      <option>15</option>
      <option>20</option>
    </select>
    <pagination-controls style="float: left" (pageChange)="currPage = $event"></pagination-controls>
  </div>
</div>
<!--
<div id="editUser">
  <table>
    <tr *ngFor="let edit of editUser">
      <td>{{ edit.userName }}</td>
    </tr>
  </table>
</div>
-->


