td, th {
  border: 1px solid #6e7d93;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #e0e3e6;
}
#ledgerTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

table, h3, h2, td {
  color: black;
}

h6.dblUnderlined { border-bottom: 6px double; }

.newclass{
  border-bottom:1px solid #000;
  text-decoration:underline;
  display:inline-block;
}
