<div class="form-group" style="margin: auto; width: 50%;">
  <table id="ledgerTable" style=" width: 100%;">
    <tr>
      <th colspan="4" class="text-center" style="">
        <div>
          <label style="line-height: 0px">Sarif Financial</label>
        </div>
        <div>
        <label style="line-height: 0px">{{trialTitle}}</label>
        </div>
        <div>
        <label>{{'For the Year Ended ' + (currentDate | date: 'MM/dd/yyyy')}}</label>
          </div>

      </th>
    <tr>
    <tr>
      <th style="text-align: center">Account</th>
      <th style="text-align: center">Account Number</th>
      <th style="text-align: center">Debit </th>
      <th style="text-align: center">Credit </th>
    </tr>
    <tr *ngFor="let account of assetslist; let b = index">
      <td>
        <button class="btn btn-link" (click)="viewLedger(account.accountName)">{{account.accountName}}</button>
      </td>
      <td>{{ account.accountNumber }}</td>
      <td *ngIf="account.normalSide == 'Debit' && b == 0" style="text-align: right;">{{ '$'+(account.currentBalance | number : '1.2-2')}}</td>
      <td *ngIf="account.normalSide == 'Debit' && b != 0 && account.currentBalance >= 0" style="text-align: right;">{{ account.currentBalance | number : '1.2-2'}}</td>
      <td *ngIf="account.normalSide == 'Debit' && b != 0 && account.currentBalance < 0" style="text-align: right;">{{ '('+(convertNumNegative(account.currentBalance) | number : '1.2-2')+')'}}</td>
      <td *ngIf="account.normalSide == 'Debit'" style="text-align: right;">&nbsp;</td>
      <td *ngIf="account.normalSide == 'Credit'" style="text-align: right;">&nbsp;</td>
      <td *ngIf="account.normalSide == 'Credit'" style="text-align: right;">{{ account.currentBalance | number : '1.2-2'}}</td>
    </tr>
    <tr *ngFor="let account of liabilitiesList; let b = index">
      <td>
        <button class="btn btn-link" (click)="viewLedger(account.accountName)">{{account.accountName}}</button>
      </td>
      <td>{{ account.accountNumber }}</td>
      <td *ngIf="account.normalSide == 'Debit'" style="text-align: right;">{{ account.currentBalance | number : '1.2-2'}}</td>
      <td *ngIf="account.normalSide == 'Debit'" style="text-align: right;">&nbsp;</td>
      <td *ngIf="account.normalSide == 'Credit'" style="text-align: right;">&nbsp;</td>
      <td *ngIf="account.normalSide == 'Credit' && b == 0" style="text-align: right;">{{ '$'+(account.currentBalance | number : '1.2-2')}}</td>
      <td *ngIf="account.normalSide == 'Credit' && b != 0" style="text-align: right;">{{ account.currentBalance | number : '1.2-2'}}</td>
    </tr>
    <tr *ngFor="let account of equitList; let b = index">
      <td>
        <button class="btn btn-link" (click)="viewLedger(account.accountName)">{{account.accountName}}</button>
      </td>
      <td>{{ account.accountNumber }}</td>
      <td *ngIf="account.normalSide == 'Debit'" style="text-align: right;">{{ account.currentBalance | number : '1.2-2'}}</td>
      <td *ngIf="account.normalSide == 'Debit'" style="text-align: right;">&nbsp;</td>
      <td *ngIf="account.normalSide == 'Credit' && expensesList.length > 0" style="text-align: right;">&nbsp;</td>
      <td *ngIf="account.normalSide == 'Credit' && expensesList.length > 0" style="text-align: right;">{{ account.currentBalance | number : '1.2-2'}}</td>
      <td *ngIf="account.normalSide == 'Credit' && b != equitList.length -1  && expensesList.length == 0" style="text-align: right;">&nbsp;</td>
      <td *ngIf="account.normalSide == 'Credit' && b != equitList.length -1  && expensesList.length == 0" style="text-align: right;">{{ account.currentBalance | number : '1.2-2'}}</td>
      <td *ngIf="account.normalSide == 'Credit' && b == equitList.length -1  && expensesList.length == 0" style="text-align: right;">{{setUnderline(account.currentBalance)}}</td>
      <td *ngIf="account.normalSide == 'Credit' && b == equitList.length -1 && expensesList.length == 0" style="text-align: right;"><u>{{ account.currentBalance | number : '1.2-2'}}</u></td>
    </tr>
    <tr *ngFor="let account of revenueList; let b = index">
      <td>
        <button class="btn btn-link" (click)="viewLedger(account.accountName)">{{account.accountName}}</button>
      </td>
      <td>{{ account.accountNumber }}</td>
      <td *ngIf="account.normalSide == 'Debit'" style="text-align: right;">{{ account.currentBalance | number : '1.2-2'}}</td>
      <td *ngIf="account.normalSide == 'Debit'" style="text-align: right;">&nbsp;</td>
      <td *ngIf="account.normalSide == 'Credit'" style="text-align: right;">&nbsp;</td>
      <td *ngIf="account.normalSide == 'Credit'" style="text-align: right;">{{ account.currentBalance | number : '1.2-2'}}</td>
    </tr>
    <tr *ngFor="let account of expensesList; let b = index">
      <td>
        <button class="btn btn-link" (click)="viewLedger(account.accountName)">{{account.accountName}}</button>
      </td>
      <td>{{ account.accountNumber }}</td>
      <td *ngIf="account.normalSide == 'Debit' && b != expensesList.length -1" style="text-align: right;">{{ account.currentBalance | number : '1.2-2'}}</td>
      <td *ngIf="account.normalSide == 'Debit' && b == expensesList.length -1" style="text-align: right;"><u>{{ account.currentBalance | number : '1.2-2'}}</u></td>
      <td *ngIf="account.normalSide == 'Debit' && b != expensesList.length -1" style="text-align: right;">&nbsp;</td>
      <td *ngIf="account.normalSide == 'Debit' && b == expensesList.length -1" style="text-align: right;">{{setUnderline(account.currentBalance)}}</td>
      <td *ngIf="account.normalSide == 'Credit'" style="text-align: right;">&nbsp;</td>
      <td *ngIf="account.normalSide == 'Credit'" style="text-align: right;">{{ account.currentBalance | number : '1.2-2'}}</td>
    </tr>
    <tr>
      <th ></th>
      <th ></th>
      <th style="text-align: right;"><p class="newclass">{{'$' +(debitTotal | number : '1.2-2')}}</p></th>
      <th style="text-align: right;"><p class="newclass">{{'$' +(creditTotal | number : '1.2-2')}}</p></th>
    </tr>
  </table>
  <button class="btn btn-primary" (click)="convertPDF()">Download Table</button>
</div>
