<div class="form-group">
  <table id="ledgerTable" style=" table-layout:fixed">
    <tr>
      <th colspan="6" >
        <label>{{'Account #: '+ currentCoA.accountNumber}}</label>
        <label style="margin: auto; padding-left: 40%">{{account}}</label></th>
    <tr>
    <tr>
      <th >Date</th>
      <th >Description</th>
      <th >REF</th>
      <th >Debit</th>
      <th >Credit</th>
      <th >Balance</th>
    </tr>
    <tr>
      <th ></th>
      <th ></th>
      <th ></th>
      <th ></th>
      <th ></th>
      <th style="text-align: right;">0</th>
    </tr>
    <tr *ngFor="let account of accountList2">
      <td>{{ account.Date | date: 'MM/dd/yyyy'}}</td>
      <td *ngIf="account.Description != null">{{ account.Description }}</td>
      <td *ngIf="account.Description == null">None</td>
      <td >
        <button class="btn btn-link" (click)="viewJournal(account.Reference)">{{account.Reference}}</button>
      </td>
      <td style="text-align: right;">{{ account.DebitAmount | number : '1.2-2' }}</td>
      <td style="text-align: right;">{{ account.CreditAmount | number : '1.2-2'}}</td>
      <td style="text-align: right;">{{calculateTotal(account.glId) | number : '1.2-2'}}</td>
    </tr>
  </table>
</div>
